@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* standardise the body */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
/* style all headers */
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1;
}

/* --------------------------------------------------------------------------HOME PAGE------------------------------------------------------------------ */

/* -------------------------------- */
/* ----- main hero banner section------- */
/* -------------------------------- */
.content {
  background-image: url("../images/gallery-images/hero-image.webp");
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  /* height: 800px; */
  height: 100vh;
  border: 2px solid;
  display: grid;
  place-items: center;
}

/* style header and give margin on mobile */
.content h2 {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin: 20px;
  transition: ease-in-out 350ms;
  font-display: swap;
}

.content h2:hover {
  text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #14213d, 0 0 0.2em #14213d;
  transform: translateY(-0.25em);
}

/* -------------------------------- */
/* ----- nav bar ------- */
/* -------------------------------- */
/* style header and fix position */
header {
  background: rgb(20, 33, 61, 0.9);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* remove box from view */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(20, 33, 61, 0.9);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

/* remove styles from list */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

/* logo */
.logo a {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-display: swap;
}
/* add styling to logo text */
.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FCA311 50%);
}

/* navbar links */
nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-display: swap;
}

nav a:hover {
  color: #FCA311;
}

/* create nav toggle to open nav when clicked*/
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* -------------------------------- */
/* ----- info homepage section------- */
/* -------------------------------- */
.info {
  background-color: #14213d;
  display: flex;
  flex-wrap: nowrap;
}

.info .info-img {
  flex-grow: 1;
  flex-basis: calc(55% - 20px);
  min-width: 300px;
}
.info-img img {
  display: block;
  max-width: 100%;
}

.info-txt {
  flex-grow: 1;
  flex-basis: calc(50% - 22px);
  margin-block: 30px;
  min-width: 300px;
}

.info-txt h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #FCA311;
  padding-top: 10px;
  margin-inline: 20px;
  font-display: swap;
}

.info-txt p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-block: 30px;
  margin-inline: 20px;
  font-display: swap;
}

.button {
  margin-block: 30px;
  transition: ease-in-out 250ms;
}

.button-more {
  background: none;
  color: #FCA311;
  border: 2px solid;
  padding: 1em 1.5em;
  font-size: 1em;
  transition: ease-in-out 250ms;
  margin-inline: 20px;
  text-decoration: none;
  font-weight: 400;
  font-display: swap;
}

.button-more:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-0.25em);
}




/* -------------------------------- */
/* ----- clients homepage section------- */
/* -------------------------------- */
.clients {
  background-color: #ffffff;
}

.clients h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #14213d;
  margin-top: 0;
  margin-block: 30px;
  margin-inline: 20px;
  padding-top: 30px;
  font-display: swap;
}

.highlight-story {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #FCA311 50%);
}

.clients p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #14213d;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
  font-display: swap;
}

.clients hr {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.flex-item {
  padding: 5px;
  width: 400px;
  margin-top: 10px;
}

.flex-item:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #FCA311;
  transform: translateY(-0.25em);
  
}

/* -------------------------------- */
/* ----- gallery homepage section ------- */
/* -------------------------------- */

.main-gallery h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
  font-display: swap;
}

.home-gallery {
  background-image: url("../images/gallery-images/mtb-06.webp");
  background-color: #14213d;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* &::after{
    content: '';
    display: block;
    flex-grow: 10;
  } */
}

.home-gallery::after {
  content: '';
  display: block;
  flex-grow: 10;
}

.home-gallery li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

.img-hme {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* -------------------------------- */
/* ----- footer ------- */
/* -------------------------------- */
footer {
  background-color: #14213d;
  color: white;
  padding: 4rem 1rem;
}

footer hr {
  width: 25%;
  height: 1px;
  border: 0;
  border-top: 1px solid #FCA311;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 300ms;
}

footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  margin: 0 auto;
  font-display: swap;
}

footer a:hover {
  color: #FCA311;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: #FCA311;
  font-display: swap;
}

.footer-link {
  text-decoration: none;
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}


.footer-bottom {
  text-align: center;
  }

.highlight-footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, #FCA311 50%);
  
  }

.footer-social {
  font-size: 1.5em;
}

/* -----------------------------------------------------------------WORK PAGE--------------------------------------------------------------------- */

/* -------------------------------- */
/* ----- work banner section------- */
/* -------------------------------- */

.work-banner {
  background-image: url("../images/gallery-images/mtb-01.webp");
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  /* height: 800px; */
  height: 100vh;
  border: 2px solid;
  display: grid;
  place-items: center;
}

.work-banner h2 {
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 20px;
  transition: ease-in-out 350ms;
  font-display: swap;
}

.work-banner h2:hover {
  text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #14213d, 0 0 0.2em #14213d;
  transform: translateY(-0.25em);
}

/* -------------------------------- */
/* ----- work gallery section------- */
/* -------------------------------- */
.work-gallery h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
  font-display: swap;
}

.work-gallery {
  background-image: url("../images/gallery-images/mtb-01.webp");
  background-color: #14213d;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* &::after{
    content:'';
    display:block;
    flex-grow: 10;
  } */
}
.work-gallery::after{
  content:'';
  display:block;
  flex-grow: 10;
}

.work-gallery li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

.img-wrk {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* -------------------------------- */
/* ----- work video section------- */
/* -------------------------------- */

.video-container {
  display: flex;
  height: 350px;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
}

#video-gallery h2 {
  color:#14213d;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 20px;
  font-display: swap;
}


.video video {
  width: 175px; 
  height: 300px; 
}

.video video:hover {
  border-color: #14213d;
  box-shadow: 0 0.5em 0.5em -0.4em #FCA311;
  transform: translateY(-0.25em);
}


/* --------------------------------------------------------------ABOUT PAGE------------------------------------------------------- */


/* -------------------------------- */
/* ----- ABOUT INTRODUCTION------- */
/* -------------------------------- */
.about-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 300px;
  padding-top: 60px;
  }

  .about-intro h1 {
    color:#14213d;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 20px;
    font-display: swap;
    transition: ease-in-out 350ms;
  }

  .about-intro h1:hover {
    text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #FCA311, 0 0 0.2em #ffffff;
    transform: translateY(-0.25em);
  }
  .about-intro p {
    /* text-align: center; */
    text-align: justify;
    margin-inline: 65px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #14213d;
    font-display: swap;
}

/* -------------------------------- */
/* ----- ABOUT THE PHOTOGRAPHER AND PORTRAIT------- */
/* -------------------------------- */
.about-me-portrait {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-portrait img {
  width: 90%;
}

.about-me-txt p {
  text-align: justify;
  margin-inline: 65px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #14213d;
  font-display: swap;
}


/* -------------------------------- */
/* ----- ABOUT THE IMAGES SECTION------- */
/* -------------------------------- */
.about-img-wrapper {
  background-color: rgb(20, 33, 61);
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.about-text {
  color: white;
  margin-inline: 60px;
  margin-block: 30px;
  min-width: 300px;
}

.about-text h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  color: rgb(252, 163, 17);
  padding-top: 10px;
  transition: ease-in-out 350ms;
  margin-inline: 20px;
  font-display: swap;
}

.about-text p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-inline: 20px;
  font-display: swap;
}

.about-img-wrapper img {
  max-width: 500px;
}

.about-in-touch {
background-image: url("../images/gallery-images/cx-24.webp");
background-color: rgba(20, 33, 61, 0.6);
background-blend-mode: multiply;
background-size: cover;
width: 100%;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
}


/* ----------------------------------------------------------------- SERVICES PAGE ------------------------------------------------------------- */

.services-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 300px;
  padding-top: 60px;
  }

  .services-intro h1 {
    color:#14213d;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 10px;
    font-display: swap;
    transition: ease-in-out 350ms;
  }

  .services-intro h1:hover {
    text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #FCA311, 0 0 0.2em #ffffff;
    transform: translateY(-0.25em);
  }

/* SERVICES IMAGE CARDS */

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}


.card {
  height: 500px;
  width: 360px;
  border: 1px solid black;
  margin: 0 20px;
  position: relative;
  box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
  border-radius: 20px;
}

.card:hover {
  border-color: #FCA311;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #FCA311;
  transform: translateY(-0.25em);
}

.card1 {
  background: url("../images/gallery-images/mtb-04.webp");
  background-position: center;
  background-size: cover;
  
}
.card2 {
  background: url("../images/gallery-images/video.webp");
  background-position: center;
  background-size: cover;
  
}

.card3 {
  background: url("../images/gallery-images/social.webp");
  background-position: center;
  background-size: cover;
  
}

.services-card-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
/*   backdrop-filter: blur(4px); */
  position: absolute;
  top: 60%;
  bottom: 0;
/*   height: 50%; */
/*   width: 100%; */
  padding: 10px;
/*   transform: translateY(100%);
  /* transition: all 500ms ease-in-out;  I am removing this hover state effect due to mobile  */
}

.services-card-content p {
  font-size: 16px;
}

.services-card-content h2, p {
  margin-inline: 20px;
}

.services-card-content a {
  text-decoration: none;
  color: white;
}
/* 
.card:hover .services-card-content {
  transform: translateY(50%);
} */
/* 
@media(hover: hover) {
  .card:hover .services-card-content {
    transform: translateY(50%);
  }
} */

/* @media (hover: none) {
  .card:hover .services-card-content {
    transform: translateY(50%);
  }
} */


@media screen and (max-width: 768px) {
  .services-container {
    flex-direction: column;
    width: 100%;
  }
  .services-card-content p, .services-card-content h2 {
    margin: 20px;
  }
  .card {
    margin-top: 20px;
  }
}


/* ---------- get in touch banner ------------ */

.service-in-touch {
  background-image: url("../images/gallery-images/cx-4.webp");
  background-color: rgba(20, 33, 61, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }


/* --------------------------------------------------------------------CONTACT ME PAGE ------------------------------------------------------ */

.contact {
  background-image: url("../images/gallery-images/cx-11.webp");
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  /* height: 800px; */
  height: 100vh;
  border: 2px solid;
  display: grid;
  place-items: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(20, 33, 61, 0.6);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(252, 163, 17, 0.4);
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields, 
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FCA311;
  padding: 10px;
  color: #ffffff;
  width: 100%;
}

.msg textarea {
  height: 210px;
}

::-webkit-input-placeholder{
  color:#FCA311;
}

::-moz-input-placeholder{
  color:#FCA311;
}

::-ms-input-placeholder{
  color:#FCA311;
}

.contact-btn{
  background: none;
  color: #FCA311;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border: 2px solid;
  font-size: 1em;
  transition: ease-in-out 250ms;
}

.contact-btn:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.msg a{
  text-decoration: none;
}

/* -------------------------------------------------------THANK YOU PAGE----------------------------------------- */
.thanks-header {
  background: url("../images/gallery-images/thank-you.webp");
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 60px;
  }

  .thanks-header h1 {
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 20px;
    transition: ease-in-out 350ms;
    font-display: swap;
  }

  .thanks-header h1:hover {
    text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #FCA311, 0 0 0.2em #ffffff;
    transform: translateY(-0.25em);
  }
  .thanks-header p {
    /* text-align: center; */
    text-align: justify;
    margin-inline: 65px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-display: swap;
    color: #ffffff;
}

.button-back {
  background: none;
  color: #FCA311;
  border: 2px solid;
  padding: 1em 1.5em;
  font-size: 1em;
  transition: ease-in-out 250ms;
  margin-top: 10px;
  margin-inline: 20px;
}

.button-back:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  cursor: pointer;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ MEDIA QUERIES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ------------nav bar media query----------------------- */
/* Create the navbar for wider screens */

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #FCA311;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* --------------------------INFO SECTION MEDIA QUERY-------------------------------- */
/* There was a weird break in the info section at 900px, this fixes it */

@media screen and (max-width: 900px) {
  .info {
    background-color: #14213d;
    display: flex;
    flex-wrap: wrap;
  }
  
  .info .img {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    /* margin: 10px; */
    min-width: 300px;
  }
  .img img {
    display: block;
    max-width: 100%;
  }
  .info-txt {
    flex-grow: 1;
    flex-basis: calc(50% - 22px);
    margin-inline: 20px;
    /* margin-block: 20px; */ 
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .info-txt p {
    text-align: justify;
  }
  
}


/* ----------------clients section media query------------------ */
/* center text in clients section on wider screens */
@media  screen and (min-width: 768px) {
  .clients h2 {
    text-align: center;
  }
  .clients p {
    text-align: center;
  }
}
@media screen and (max-width: 768px){
  .clients {
    margin-inline: 20px;
  }
  
}

/* ------------------------PARTNERS SECTION MEDIA QUERY---------------------------- */
/*  Have the partners section show in a row on larger screens*/
@media  screen and (min-width: 768px) {
  .flex-item {
    width: 200px;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .clients p {
    text-align: justify;
  }
}

/* ---------gallery homepage media queries -------------------- */
@media (max-aspect-ratio: 1/1) {
  .home-gallery li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .home-gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .home-gallery {
    flex-direction: row;
  }

  .home-gallery li {
    height: auto;
    width: 100%;
  }
  .img-hme {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* center text for homepage gallery on wider screens */
@media  screen and (min-width: 768px) {
  .main-gallery h2 {
    text-align: center;
  }
}


/* ----------------footer media query----------------------- */
@media screen and (max-width: 768px) {
  .footer-main {
    flex-direction: column;
  }  
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ WORK PAGE MEDIA QUERIES ++++++++++++++++++++++++++++++++++++++++++ */
/* ---------WORK GALLERY MEDIA ------------------- */
@media (max-aspect-ratio: 1/1) {
  .work-gallery li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .work-gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .work-gallery {
    flex-direction: row;
  }

  .work-gallery li {
    height: auto;
    width: 100%;
  }
  .img-wrk {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* ---------------WORK VIDEO SECTION MEDIA QUERIES ---------------------- */
@media (max-width: 800px) {
  .video-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    column-gap: 50px;
    
  }
  .video video {
    height: 100vh;
    width: 100vh;
  }
  
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ABOUT PAGE MEDIA QUERIES++++++++++++++++++++++++++++++++++++ */
/* PORTRAIT OF PHOTOGRAPHER */
/* make image repsonsive on mobile */
@media (max-width: 768px) {
  .about-me-portrait img {
width: 90%;
  }
  
}

/* control margin on mobile screens */
@media (max-width: 768px) {
  .about-me-txt p {
margin-inline: 30px;
  }
  .about-intro p {
    margin-inline: 30px;
    text-align: justify;
  }
}


/* style aoout image wrapper for mobile */
@media (max-width: 768px) {
  .about-img-wrapper {
    flex-direction: column;
  }

  .about-img-wrapper img {
    max-width: 100%;
  }

  .about-text {
    margin-inline: 30px;
    margin-block: 10px;
    text-align: justify;
  }
  .button-more {
    margin-block: 10px;
  }
}


/* ++++++++++++++++++++++++++++++++++ SERVICES PAGE MEDIA ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* -------------- CARD CONTAINERS --------------------------*/


@media screen and (max-width: 768px) {
  .services-container {
    flex-direction: column;
  }
  .card {
    margin-top: 20px;
  }
}

/* +++++++++++++++++++++++++++++++++++ CONTACT PAGE MEDIA +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Contact Form */
@media screen and (max-width: 600px){
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}