@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* standardise the body */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
/* style all headers */
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1;
}

/* -------------------------------- */
/* ----- main hero banner section------- */
/* -------------------------------- */
.content {
  background-image: url("../images/gallery-images/hero-image.jpg");
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  /* height: 800px; */
  height: 100vh;
  border: 2px solid;
  display: grid;
  place-items: center;
}

/* style header and give margin on mobile */
.content h2 {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin: 20px;
}

.content h2:hover {
  text-shadow: 0.5px 0.5px 10px #FCA311, 0 0 1em #14213d, 0 0 0.2em #14213d;
  transform: translateY(-0.25em);
}

/* -------------------------------- */
/* ----- nav bar ------- */
/* -------------------------------- */
/* style header and fix position */
header {
  background: rgb(20, 33, 61, 0.9);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* remove box from view */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgba(20, 33, 61, 0.9);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

/* remove styles from list */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

/* logo */
.logo a {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
/* add styling to logo text */
.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FCA311 50%);
}

/* navbar links */
nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #FCA311;
}

/* create nav toggle to open nav when clicked*/
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* -------------------------------- */
/* ----- info homepage section------- */
/* -------------------------------- */
.info {
  background-color: #14213d;
  display: flex;
  flex-wrap: wrap;
}

.info .img {
  flex-grow: 1;
  flex-basis: calc(55% - 20px);
  min-width: 300px;
}
.img img {
  display: block;
  max-width: 100%;
}

.info-txt {
  flex-grow: 1;
  flex-basis: calc(50% - 22px);
  margin-inline: 20px;
  margin-block: 30px;
  min-width: 300px;
}

.info-txt h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #FCA311;
  padding-top: 10px;
}

.info-txt p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding-top: 10px;
  /* margin-inline: 50px; */
}

.button-more {
  margin-top: 10px;
  background: none;
  color: #FCA311;
  border: 2px solid;
  padding: 1em 1.5em;
  /* margin-left: 5px; */
  font-size: 1em;
  transition: ease-in-out 250ms;
}

.button-more:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

/* -------------------------------- */
/* ----- video home page------- */
/* -------------------------------- */

.video-content h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
}

.highlight-story {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #FCA311 50%);

}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* -------------------------------- */
/* ----- clients homepage section------- */
/* -------------------------------- */
.clients {
  background-color: #14213d;
}

.clients h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;
  margin-top: 0;
  margin-inline: 20px;
  padding-top: 30px;
}

.clients p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  margin-inline: 20px;
  padding: 30px 0;
}

.clients hr {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.flex-item {
  padding: 5px;
  width: 400px;
  margin-top: 10px;
}

.flex-item:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #FCA311;
  transform: translateY(-0.25em);
  
}

/* -------------------------------- */
/* ----- gallery homepage section ------- */
/* -------------------------------- */

.main-gallery h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
}

.home-gallery {
  background-image: url(../images/gallery-images/hero-image.jpg);
  background-color: #14213d;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &:after {
    content:'';
    display:block;
    flex-grow: 10;
  }
}

.home-gallery li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

.img-hme {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  .home-gallery li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .home-gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .home-gallery {
    flex-direction: row;
  }

  .home-gallery li {
    height: auto;
    width: 100%;
  }
  .img-hme {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* center text for homepage gallery on wider screens */
@media  screen and (min-width: 768px) {
  .main-gallery h2 {
    text-align: center;
  }
}

/* -------------------------------- */
/* ----- footer ------- */
/* -------------------------------- */
footer {
  background-color: #14213d;
  color: white;
  padding: 4rem 1rem;
}

footer hr {
  width: 25%;
  height: 1px;
  border: 0;
  border-top: 1px solid #FCA311;
}

footer a {
  color: white;
  text-decoration: none;
  transition: 300ms;
}

footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  margin: 0 auto;
}

footer a:hover {
  color: #FCA311;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: #FCA311;
}

.footer-link {
  text-decoration: none;
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}


.footer-bottom {
  text-align: center;
  }

.highlight-footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, #FCA311 50%);
  
  }

.footer-social {
  font-size: 1.5em;
}

/*  footer design for mobile */
@media screen and (max-width: 768px) {
  .footer-main {
    flex-direction: column;
  }  
}

/* center text in video section on wider screens */
@media  screen and (min-width: 768px) {
  .video-content h2 {
    text-align: center;
  }
}

/*  Have the partners section show in a row on larger screens*/
@media  screen and (min-width: 768px) {
  .flex-item {
    width: 200px;
    flex-direction: row;
  }
}

/* Create the navbar for wider screens */

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #FCA311;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* There was a weird break in the info section at 900px, this fixes it */

@media screen and (min-width: 900px) {
  .info {
    background-color: #14213d;
    display: flex;
    flex-wrap: wrap;
  }
  
  .info .img {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    /* margin: 10px; */
    min-width: 300px;
  }
  .img img {
    display: block;
    max-width: 100%;
  }
  .info-txt {
    flex-grow: 1;
    flex-basis: calc(50% - 22px);
    margin-inline: 20px;
    margin-block: 20px;
    min-width: 300px;
  }
}


/* --------------------------------------------WORK PAGE-------------------------------------- */

/* -------------------------------- */
/* ----- work banner section------- */
/* -------------------------------- */

.work-banner {
  background-image: url(https://res.cloudinary.com/dhktvbrfa/image/upload/v1704989153/mtb-01_rmic8d.jpg);
  background-color: #9c9b9b;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  /* height: 800px; */
  height: 100vh;
  border: 2px solid;
  display: grid;
  place-items: center;
}

.work-banner h2 {
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 20px;
}

/* -------------------------------- */
/* ----- work gallery section------- */
/* -------------------------------- */
.work-gallery h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-inline: 20px;
  margin-block: 30px;
  padding: 30px 0;
}

.work-gallery {
  background-image: url(../images/gallery-images/hero-image.jpg);
  background-color: #14213d;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &:after {
    content:'';
    display:block;
    flex-grow: 10;
  }
}

.work-gallery li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}

.img-wrk {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  .work-gallery li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .work-gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .work-gallery {
    flex-direction: row;
  }

  .work-gallery li {
    height: auto;
    width: 100%;
  }
  .img-wrk {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}



/* -------------------------------- */
/* ----- work video section------- */
/* -------------------------------- */

.video-container {
  background-color: #14213d;
  display: flex;
  height: 350px;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
}
.video-container h2 {
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 20px;
}


.video video {
  width: 200px; 
  height: 300px; 
}

.video video:hover {
  border-color: #ffffff;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

@media (max-width: 800px) {
  .video-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    column-gap: 50px;
    
  }
  .video video {
    height: 100vh;
    width: 100vh;
  }
  
}